// Шрифты

$primary-font: "PT-Mono", "Arial", sans-serif;

// Цвета

$transparent: transparent;
$basic-white: #ffffff;
$basic-gray: #444444;
$basic-black: #000000;
$background-color: #12151b;
$background-color-2: #222930;
$background-color-3: #161d24;
$primary-color: #ffd600;
$secondary-color: #83008b;

$priority1: red;
$priority2: orange;
$priority3: yellow;

// Размеры вьюпортов

$tablet-width: 768px;
$desktop-width: 1200px;

// Размеры отступов

$mobile-margin: 80px;
$tablet-margin: 120px;
$desktop-margin: 160px;


$max-width-editor: 800px;
$max-mobile-header: 87px;
$max-desktop-header: 139px;