.app-main {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    width: 100%;
    padding-top: 50px;
    padding-left: 300px;
  }

  & section {
    display: none;
  }

  & section:first-child {
    display: block;
  }
}