.app {
  padding: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;

  @media (min-width: $tablet-width) {
    padding: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 80px;
  }
}