.dropdown-menu {
  display: none;
  position: absolute;
  top: 30px;
  left: -120px;
  padding: 10px;
  background-color: #2d343b;
  border-radius: 12px;

  &--open {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 15px;
    padding: 0;
    position: static;
    background-color: unset;
  }
}

.dropdown-menu__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;

  &::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    width: 30px;
    height: 30px;
    margin-right: 10px;

    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }
    
  &--notification::before {
    background-image: url("../../icons/stack.svg#notification-icon");
  }

  &--settings::before {
    background-image: url("../../icons/stack.svg#settings-icon");
  }

  &--language::before {
    background-image: url("../../icons/stack.svg#language-icon");

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--theme::before {
    background-image: url("../../icons/stack.svg#theme-icon");
  }

  &--settings {
    @media (min-width: $desktop-width) {
      order: 2;
    }
  }

  &--arrow {
    width: 100%;
    background-color: $transparent;
    text-decoration: none;
    border: 0;
    color: $basic-white;
    cursor: pointer;

    @media (min-width: $desktop-width) {
      border-radius: 12px;
      border: 1px solid $secondary-color;
    }
  }

  &--arrow::after {
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;
    width: 15px;
    height: 15px;
    margin-left: auto;
    background-image: url("../../icons/stack.svg#arrow");

    @media (min-width: $desktop-width) {
      background-image: url("../../icons/stack.svg#arrow-v2");
      background-size: 10px;
      transform: rotate(180deg);
      width: 12px;
      height: 8px;
      margin-left: 10px;
    }
  }

  &:hover,
  &:focus-visible {
    background-color: rgba($basic-gray, 0.3);
    border-radius: 8px;
  }

  & span {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 5px;
  }
}

.dropdown-menu__wrapper {
  display: flex;
  flex-direction: column;
}

.dropdown-menu__submenu-wrapper {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 120%;
    left: 55px;
    background-color: $background-color-2;
    border-radius: 8px;
  }
}

.dropdown-menu__submenu {
  display: none;
  font-size: 14px;
  margin-left: 20px;
  padding: 10px;

  &--open {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: column;
      gap: unset;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.dropdown-menu__subparagraph {
  text-align: center;
  border: 1px solid $basic-white;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: $basic-white;
    color: #2d343b;

    @media (min-width: $desktop-width) {
      background-color: $basic-white;
      color: #2d343b;
    }
  }

  @media (min-width: $desktop-width) {
    border: 0;
    padding: 5px 15px;
  }
}

.dropdown-menu__default-language {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}