.editor {
  background-color: $transparent;
  color: $basic-white;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: inherit;
  width: 100%;
  resize: none;
  padding-right: 0;
  background-image: none;
  height: 21px;
}