.hero {
  margin-top: 40px;
  text-align: center;
  margin-bottom: $mobile-margin;

  @media (min-width: $tablet-width) {
    margin-bottom: $tablet-margin;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: $desktop-margin;
  }
}

.hero__title {
  line-height: 40px;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    line-height: 60px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    line-height: 80px;
    margin-bottom: 35px;
  }
}

.hero__discription {
  font-size: 15px;
  line-height: 24px;
  color: rgba($basic-white, 0.7);
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 40px;
  }
}

.hero__button {
  margin: 0 auto;
}
