.tasks {
  padding: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: calc(100vh - $max-mobile-header);

  @media (min-width: $tablet-width) {
    width: 70%;
  }
  
  @media (min-width: $desktop-width) {
    width: $max-width-editor;
    height: calc(100vh - $max-desktop-header);
  }
}

.tasks__header {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.tasks__header-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tasks__header-button {
  border: 1px solid $basic-white;
  border-radius: 8px;
  background-color: $transparent;
  color: $basic-white;
  font-weight: 700;
  padding: 5px;
  line-height: 18px;
  cursor: pointer;

  &:hover,
  &:focus-visible,
  &--active {
    background-color: $basic-white;
    color: $background-color;
  }

  &--active {
    cursor: default;
  }
}

.tasks__select-wrapper {
  display: flex;
  margin-left: auto;
  margin-bottom: auto;
  text-align: center;


  &::before {
    content: "";
    display: block;
    background-image: url("../../icons/stack.svg#sort");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
}

.tasks__select-control {
  border: 1px solid $basic-white;
  border-radius: 3px;
  background-color: $transparent;
  color: $basic-white;
  padding: 5px 10px;
  line-height: 18px;
  cursor: pointer;

  &:hover{
    color: $background-color;
    background-color: $basic-white;
  }
}