.title {
  font-family: $primary-font;
  font-weight: 700;
  margin: 0;
  padding: 0;

  &--sm {
    font-size: 18px;
  }

  &--md {
    font-size: 28px;

    @media (min-width: $tablet-width) {
      font-size: 32px;
    }

    @media (min-width: $desktop-width) {
      font-size: 44px;
    }
  }

  &--lg {
    font-size: 32px;

    @media (min-width: $tablet-width) {
      font-size: 48px;
    }

    @media (min-width: $desktop-width) {
      font-size: 60px;
    }
  }
}
